<div [formGroup]='form'>
    <label [attr.for]='control.key'>{{control.label}}</label>
    <div [ngSwitch]='control.controlType'>
        <input *ngSwitchCase="'textbox'" class="form-row" type="text" [formControlName]='control.key' [id]="control.key" [type]="control.type" />
        <select *ngSwitchCase="'dropdown'" class="form-row" [id]="control.key" [formControlName]="control.key">
            <option *ngFor='let opt of control.options' value="{{opt.key}}">{{opt.value}}</option>
        </select>
    </div>

    <div *ngIf='!isValid' class="form-row">{{control.label}} is required</div>
</div>